:root {
	--padding: 8px;
	--paddingY: 6px;
	--radius: 6px;
	--gap: 8px;
	--main-font: 12px;
	--sub-font: 11px;
	--borer-radius: 6px;
	--transition-duration: 400ms;
}
* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: var(--vscode-color);
	line-height: 1.6;
	-webkit-appearance: none;
}
body {
	margin: 0;
	padding: var(--padding);
	min-width: 200px;
	height: 100vh;
	display: grid;
	gap: var(--gap);
}
.body {
	grid-template-rows: minmax(180px, 3fr) minmax(280px, 1fr);
}

/* small screen */
@media only screen and (max-width: 250px) {
	:root {
		--main-font: 11px;
		--sub-font: 10px;
		--padding: 6px;
	}
}
@media only screen and (max-height: 550px) {
	:root {
		--main-font: 12px;
		--sub-font: 11px;
		--paddingY: 7px;
	}
}
/* big screen */
@media only screen and (min-width: 400px) {
	:root {
		--main-font: 13px;
		--sub-font: 12px;
		--paddingY: 8px;
	}
	form {
		grid-template-rows: 1fr 1fr 4fr 1fr;
	}
	.span-cols-var {
		grid-column: span 1 !important;
	}
	.settings-cont {
		grid-template-rows: repeat(2, 1fr) 4fr 1fr !important;
	}
	.system-hidden .settings-cont {
		grid-template-rows: 1fr 4fr 1fr !important;
	}
}

select,
option,
button,
input {
	text-align: center;
}
select,
option,
button,
input,
textarea {
	width: 100%;
	height: 100%;
	font-size: var(--sub-font);
	padding: var(--paddingY) var(--padding);
	outline: none;
	border: none;
	border-radius: var(--borer-radius);
}
textarea {
	font-size: var(--main-font);
	resize: none;
	line-height: 1.6;
	padding: var(--padding);
}
span {
	font-size: var(--sub-font);
}
a {
	width: 100%;
	height: 100%;
	color: none !important;
}
select:focus,
option:focus,
button:focus,
input:focus,
textarea:focus {
	outline-width: 2px;
	outline-color: rgb(120, 120, 120) !important;
}
label {
	display: grid;
	grid-template-columns: minmax(60px, 1fr) 9fr;
	align-items: center;
	justify-items: end;
	gap: var(--gap);
	font-size: var(--sub-font);
	font-weight: 600;
	text-transform: uppercase;
}
button {
	background-color: var(--vscode-input-background);
	border-radius: var(--padding);
	font-size: var(--main-font);
	font-weight: 800;
	text-transform: uppercase;
	transition-duration: var(--transition-duration);
	opacity: 0.8;
	white-space: nowrap;
}
button:hover {
	opacity: 1;
}

.response-cont {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: minmax(100px, 28fr) minmax(30px, 1fr);
	background-color: var(--vscode-input-background);
}
.response-cont:hover .icon {
	opacity: 0.9;
	box-shadow: 0 0 5px 5px var(--vscode-input-foreground);
}

.chat {
	overflow: auto;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	gap: var(--gap);
	padding: calc(var(--padding) * 0.8);
	align-items: end;
}
.message {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	padding: calc(var(--padding) * 1.2);
	margin: 0 !important;
	background-color: var(--vscode-editor-background);
	border-radius: calc(var(--padding) / 2);
}
.user {
	text-align: right;
	opacity: 0.8;
}
.ai {
	margin: 4px;
	text-align: left;
	opacity: 0.95;
}
.name {
	text-transform: uppercase;
	font-size: var(--sub-font);
	font-weight: 700;
}
.message-content {
	display: grid;
	grid-template-rows: 1fr;
	gap: calc(var(--gap) * 2);
}
.code-block {
	background-color: var(--vscode-textBlockQuote-background);
	cursor: pointer;
	font-family: monospace;
	padding: var(--padding);
	opacity: 0.7;
	transition-duration: var(--transition-duration);
	white-space: pre-wrap;
}
.code-block:hover {
	opacity: 1;
}
.notif-cont {
	position: absolute;
	z-index: 0;
	padding: calc(var(--padding) / 2) var(--padding);
	border-radius: 8px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background-color: var(--vscode-input-background);
	white-space: nowrap;
}

.chat-bottom {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}
.toggle-btn {
	height: 100%;
	width: 100%;
	padding: var(--padding);
	background-color: var(--vscode-editor-background);
	border-radius: 0;
}
.toggle-btn i {
	height: 100% !important;
}
.icon,
.icon svg {
	display: flex;
	width: fit-content;
}

.settings-cont {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr) minmax(80px, 4fr) 1fr;
	gap: var(--gap);
}

.span-cols {
	grid-column: 1 / span 2;
}
.span-cols-var {
	grid-column: 1 / span 2;
}
.bg-main {
	background-color: var(--vscode-editor-background);
	fill: var(--vscode-editor-background);
}
.bg-sub {
	background-color: var(--vscode-input-foreground);
	fill: var(--vscode-input-foreground);
	fill-opacity: 0.5;
	transition-duration: var(--transition-duration);
}
.hide {
	display: none;
}

.system-hidden .settings-cont {
	grid-template-rows: 1fr 1fr 4fr 1fr;
}
